.img-fluid {
  max-width:100%;
  height:auto;
}

#carouselExampleIndicators{
	max-height : 10%;
	background: #93a0ab;
}

.carousel-item{
  min-height:60vh;
  max-height:70vh;
  background-size:cover !important;
  background-position:center !important;
}

.card-img-top{
	max-height: 40vh;
}

#carslike{
  	margin:0 auto;
}

/*.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}*/
